.logo-svg {
    display: block;
    width: 120px;
    height: 32px;
    fill: currentColor;
}

.lang-sel-svg {
    display: block;
    width: 16px;
    height: 16px;
    fill: currentColor;
}

.information-icons-svg {
    display: block;
    width: 16px;
    height: 16px;
    fill: none;
    stroke: currentColor;
    stroke-width: 3;
    overflow: visible;    
}

.human-silhouette-svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: currentColor;
}

.search-icon-svg {
    display: block;
    width: 16px;
    height: 16px;
    fill: none;
    stroke: currentColor;
    stroke-width: 4px;
    overflow: visible;
}

.copyright-symbol {
    width: 16px;
    height: 16px;
    fill: currentColor;
}

.sns-logo-svg {
    width: 18px;
    height: 18px;
    fill: currentColor;
}
